.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background-color: #252525;
}

.popular-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .popular {
    margin-top: -80px;
  }
  
  .popular h1 {
    font-size: 30px;
  }

  .popular hr {
    width: 150px;
    height: 5px;
  }

  .popular-item {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}